html, body {
  margin: 0;
  padding: 0;
}

#fps
{
  position: absolute;
  bottom: 5px;
  right: 5px;
  
  font-family: sans-serif;
  font-size:0px;
  text-transform: uppercase;
  color: #fff;
  color: rgba(255,255,255,0.5);
  
  z-index: 2;
}